::-webkit-scrollbar{
    display:none;
}

body{
    overflow-x: hidden;
}

.about-section-1{
    padding-top:10vh;
    font-family: 'Inter', sans-serif;   
    display:flex;
    flex-direction: row;
    height: 320px;
}

.top-left{
    width: 30vw;
    padding-top:5vh;
    padding-left:10vw;
    padding-right:5vw;
}

.top-left h1{
    font-weight: 700;
    font-size:3em;
    margin-top:0;
}

.top-left p{
    font-weight:400;
    font-size:1.3em;
    line-height: 1.5;
    margin-top:0;
}

.top-left button{
    border-radius:10px;
    background: #155AE0;
    width:100px;
    height:40px;
    border:none;
    font-size:1em;
    color:white;
    letter-spacing: 1px;
    cursor: pointer;
}

.top-left button:hover{
    background-color:#477adf;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.top-right{
    display: flex;
    position: relative;
}

.top-right::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: #2E37B9;
    z-index: 2;
}

.top-right img{
    z-index:3;
    max-height: 100%;
    padding-left:20px;
}

.top-right-last{
    background: #2E37B9;
    flex-grow:1;
}

.about-section-2{
    margin-top:10vh;
    display:flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

.left-2{
    width:45vw;
    padding-left:100px;
}

.left-2 img{
    width:80%;
}

.right-2 p{
    line-height: 1.5;
    font-size:18px;
}

.right-2{
    width:55vw;
    margin-right:10vw;
}

.right-2 h1{
    position:relative;
    font-size:3em;
}

.right-2 h1::before{
    position:absolute;
    width:100px;
    height:10px;
    background-color: blue;
    content:"";
    left:10px;
    bottom:-10px;
}

#about-tab{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif; 
    margin:10vh 0;
}

#about-tab ul.about-top-tags{
    display:flex;
    width:40vw;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    margin:0;
}

#about-tab div{
    width:40vw;
}

.about-tab-text{
    height:200px;
    overflow-y: hidden;
}

.about-tab-text ul{
    padding:0 30px;
    display:flex;
    flex-direction: column;
    gap:20px;
    font-size:1.2em;
}

.about-tab-text div{
    display:none;
}

.about-tab-text .active{
    display:block;
}

.about-top-tag.active{
    position:relative;
}

.about-top-tag{
    cursor: pointer;
    font-size:1.5em;
    letter-spacing: 1px;
}

.about-top-tag.active::before{
    position: absolute;
    left:5px;
    bottom:-5px;
    width: var(--about-top-tag,0%);
    height:4px;
    content:"";
    background-color:#2E37B9;
    transition: width 0.3s ease-in;
}

.text-info span{
    color:#2E37B9;
    font-weight: bold;
    font-size:0.8em;
}

.extra-info{
    font-family: 'Inter', sans-serif; 
    margin-top: 10vh;
    padding:0 10vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.extra-info ul{
    padding:0;
}

.extra-info h1{
    font-weight: bold;
    font-size: 3em;
    position: relative;
}

.extra-info h1::before{
    position: absolute;
    background-color: blue;
    left: 80px;
    bottom:-10px;
    height:10px;
    width:120px;
    content:"";
}

.extra-info li{
    list-style-type: circle;
    font-size:18px;
    line-height: 2;
}

.extra-info .extra-info-right{
    width: 600px;
    height: 246px;
    border: solid 2pt black;
}

.extra-info-right{
    position: relative;
    overflow:hidden;
}

.extra-info-right i{
    font-size:5em;
}

.fa-basketball{
    position:absolute;
    animation: dribble 3s linear infinite;
    bottom:200px;
    left:-5em;
}

.fa-heart-pulse{
    position:absolute;
    right:0;
}

@keyframes dribble{
    16%,48%,78%{
        bottom:0px;
        animation-timing-function: ease-out;
    }
    32%{
        bottom:150px;
        animation-timing-function: ease-in;
    }
    62%{
        bottom:80px;
        animation-timing-function: ease-in;
    }
    90%{
        bottom:30px;
        animation-timing-function: ease-in;
    }
    100%{
        bottom:0;
        animation-timing-function: ease-out;
        transform: rotate(550deg);  
        left:100%;
    }
}

@media only screen and (max-width:1300px){
    .extra-info{
        font-family: 'Inter', sans-serif; 
        margin-top: 10vh;
        padding:0 10vw;
        flex-direction: column;
        justify-content: space-between;
    }

    .extra-info-right{
        display: flex;
        align-self: center;
        max-width:80vw;
    }
}

@media only screen and (max-width:1025px){
    .about-top-tag{
        font-size: 1.2em;
    }

    .about-top-tag.active::before{
        left:5px;
        bottom:-5px;
        height:4px;
    }

    .about-tab-text span{
        font-size:0.7em;
    }

    .about-tab-text ul{
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 900px){
    .top-left p{
        font-weight:400;
        font-size:1.2em;
        line-height: 1.3;
    }

    .extra-info-right{
        zoom: 90%;
    }

    .extra-info-right i{
        font-size:4.5em;
    }

    .about-top-tag{
        font-size: 1.2em;
        letter-spacing: 0px;
    }

    .about-top-tag.active::before{
        left:5px;
        bottom:-5px;
        height:4px;
    }

    #about-tab ul.about-top-tags{
        width:70vw;
    }

    #about-tab div{
        width:70vw;
    }

    .about-tab-text span{
        font-size:0.7em;
    }

    .about-tab-text ul{
        font-size: 1.1em;
        padding-left:40px;
    }

}

@media only screen and (max-width: 768px){
    .about-section-1{
        padding-top:5vh;
        height:250px;
    }

    .top-left h1{
        margin-bottom:20px;
        font-size:2.5em;
    }

    .top-left p{
        font-size:1em;
        line-height: 1.3;
    }

    .top-left button{
        border-radius:8.3px;
        width:83px;
        height:33px;
        font-size:0.83em;
        letter-spacing: 1px;
    }

    .about-section-2{
        flex-direction: column;
        align-items: center;
        padding:0;
    }

    .left-2{
        text-align: center;
        padding:0;
        width:50vw;
    }

    .right-2{
        margin:0;
        width:80vw;
    }

    .right-2 h1:before{
        width:85px;
        height:10px;
        left:10px;
        bottom:-10px;
    }

    .right-2 h1{
        font-size:2.5em;
    }

    .right-2 p{
        font-size: 15px;
    }

    .right-2 p:last-of-type{
        padding-bottom:10vh;
    }

    .extra-info-left h1{
        font-size:2.5em;
    }

    .extra-info-left h1::before{
        left: 60px;
        width:100px;
    }

    .extra-info-left li{
        font-size:15px;
    }

    .extra-info-right{
        zoom:80%;
    }

    .extra-info-right i{
        font-size:4em;
    }

    .extra-info-right{
        max-width:100vw;
    }

    .extra-info{
        margin-top:0px;
    }
}

@media only screen and (max-width: 631px){
    .about-section-1{
        height:200px;
    }

    .top-left{
        padding-right:0;
        width: 40vw;
    }

    .top-left h1{
        margin-bottom:15px;
        font-size:2.2em;
    }

    .top-left p{
        font-size:0.8em;
        line-height: 1.2;
    }

    .top-right img{
        max-height: 100%;
        padding-left:20px;
    }

    .right-2 h1{
        font-size:2em;
    }

    .right-2 p{
        font-size: 12px;
    }

    .extra-info-left h1{
        font-size:2em;
    }

    .extra-info-left h1::before{
        left: 50px;
        width:80px;
    }

    .extra-info-left li{
        font-size:12px;
    }

    .extra-info-right{
        zoom:70%;
    }

    .extra-info-right i{
        font-size:3.5em;
    }

    .about-top-tag{
        font-size: 1em;
    }

    .about-tab-text ul{
        padding-left:20px;
    }

    .about-tab-text span{
        font-size:0.7em;
    }

    .about-tab-text ul li{
        font-size:0.8em;
    }
}

@media only screen and (max-width: 426px){
    .top-left h1{
        font-size:2em;
        margin-bottom:10px;
    }
    
    .top-left p{
        font-size:0.73em;
    }

    .top-left button{
        border-radius:8.3px;
        width:60px;
        height:25px;
        font-size:0.65em;
        letter-spacing: 0.8px;
    }

    .extra-info-right{
        max-width:100vw;
    }

    #about-tab{
        margin-bottom: 0;
    }

    #about-tab div {
        height: 150px;
    }
}

@media only screen and (max-width:376px){
    .about-top-tag {
        font-size:0.8em;
    }

    .about-tab-text span{
        font-size:0.7em;
    }

    .about-tab-text ul li{
        font-size:0.7em;
    }

    .about-tab-text ul {
        gap:10px;
    }

    #about-tab div {
        height: 130px;
    }
}

@media only screen and (max-width: 360px){
    .about-section-1{
        height:150px;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-left{
        flex-grow:1;    
    }

    .top-left h1{
        font-size:1.8em;
        margin-bottom:5px;
    }

    .top-left p{
        font-size:0.6em;
    }

    .top-left button{
        border-radius:7px;
        width:50px;
        height:20px;
        font-size:0.5em;
    }

    .top-right-last{
        display: none;
    }

    .right-2 h1{
        font-size:1.8em;
        margin:15px 0;
    }

    .right-2 p{
        font-size: 10px;
    }

    .right-2 h1:before{
        width:60px;
        height:7px;
        left:10px;
        bottom:-7px;
    }

    .right-2 p:last-of-type{
        padding-bottom:5vw;
        margin-bottom:0;
    }

    .extra-info-left h1{
        font-size:1.8em;
    }

    .extra-info-left h1::before{
        left: 40px;
        bottom:-7px;
        height:7px;
        width:70px;
    }

    .extra-info-left li{
        font-size:10px;
    }

    .extra-info-right i{
        font-size:3em;
    }
}