::-webkit-scrollbar{
    display:none;
}

body{
    overflow-x: hidden;
}

.row{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif; 
    justify-content: center;
}

#contact div{
    margin-top:50px;
}

.container{
    margin: 0 10vw;
}

.contact-left{
    width:35vw;
}

.contact-right{
    width: 60vw;
}

.contact-left h1{
    font-size: 3.5em;
}

.contact-left p{
    margin-top:30px;
    font-size:1.2em;
    letter-spacing: 1px;
}

.contact-left i{
    color:blue;
    margin-right: 30px;
    font-size: 25px;
}

form{
    transition: 10s ease;
}

form input, form textarea{
    width:100%;
    border:0;
    outline: none;
    background-color: var(--form-bg,#f2f2f2);
    padding:15px;
    margin: 15px 0;
    color:var(--form-color,black);
    font-size:18px;
    border-radius: 6px;
    font-family: 'Inter', sans-serif; 
    transition: color 1s ease, background-color 1s ease;
}

button[type="submit"]{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    background-color: blue;
    border:none;
    letter-spacing: 1px;
    color:white;
}

#msg{
    display:inline-block;
    color:#61b752;
    margin-top:20px;
}

.phoneNumber{
    text-decoration: none;
    color:inherit;
}

@media only screen and (max-width:1200px){
    .contact-left h1{
        font-size: 3em;
    }
    
    .contact-left p{
        margin-top:30px;
        font-size:1em;
        letter-spacing: 1px;
    }
    
    .contact-left i{
        color:blue;
        margin-right: 25px;
        font-size: 20px;
    }
}

@media only screen and (max-width:1025px){
    form{
        margin-left: 20px;
    }

    form input, form textarea{
        width:90%;
        padding:12px;
        margin: 12px 0;
        font-size:15px;
        border-radius: 6px;
    }
    
    button[type="submit"]{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        border-radius: 6px;
        cursor: pointer;
        background-color: blue;
        border:none;
        letter-spacing: 1px;
        color:white;
    }

    #msg{
        margin-left: 20px;
    }
}

@media only screen and (max-width:900px){
    .row{
        flex-direction: column;
    }

    .sub-title{
        margin-top:0;
    }

    #contact div{
        margin-top:20px;
    }

    form{
        margin-left:0;
        width:100%;
    }

    #msg{
        margin-left:0;
    }

    .contact-left{
        width: 100%;
    }

    .contact-left h1{
        font-size: 3.5em;
    }
    
    .contact-left p{
        margin-top:30px;
        font-size:1.2em;
        letter-spacing: 1px;
    }
    
    .contact-left i{
        margin-right: 30px;
        font-size: 25px;
    }

    form input, form textarea{
        width:100%;
        padding:15px;
        margin: 15px 0;
        font-size:18px;
    }
}

@media only screen and (max-width:426px){
    #contact div{
        margin-top:10px;
    }

    .contact-left h1{
        font-size: 2.5em;
    }
    
    .contact-left p{
        margin-top:20px;
        font-size:0.8em;
        letter-spacing: 1px;
    }
    
    .contact-left i{
        margin-right: 20px;
        font-size: 15px;
    }

    form input, form textarea{
        width:100%;
        padding:12px;
        margin: 12px 0;
        font-size:10px;
        border-radius: 3px;
    }
    
    button[type="submit"]{
        padding: 7px 20px;
        font-size: 8px;
        margin-top: 10px;
        border-radius: 6px;
        cursor: pointer;
        background-color: blue;
        border:none;
        letter-spacing: 1px;
        color:white;
    }

    #msg{
        margin-top:10px;
        font-size:12px;
    }
}