#footer{
    display:flex;
    flex-direction: column;
    height:15vh;

    align-items: stretch;
    margin-top:100px;
    padding-bottom: 20px;
}

.footer-bottom{
    font-family: 'Inter', sans-serif;
    height:100%;
    display:flex;
    justify-content: space-between;
    padding-left:2vw;
    padding-right:2vw;
}

.footer-bottom-left{
    display:flex;
    align-items: flex-end;
}

.footer-bottom-right{
    display:flex;
    gap:30px;
    text-align: right;
    align-items: flex-end;
}

.footer-bottom-right svg{
    width:30px;
    height:30px;
}

.icon-click{
    cursor: pointer;
    z-index: 5;
}

.icon-click:hover{
    zoom:150%;
}