#footer{
    display:flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
    margin-top:10px;
    height:50px;
}

.footer-bottom{
    font-family: 'Inter', sans-serif;
    height:100%;
    display:flex;
    justify-content: space-between;
    padding-left:2vw;
    padding-right:2vw;
}

.footer-bottom-left{
    display:flex;
    align-items: flex-end;
    font-size:20px;
}

.footer-bottom-right{
    display:flex;
    gap:30px;
    text-align: right;
    align-items: flex-end;
}

.footer-bottom-right svg{
    width:30px;
    height:30px;
}

.icon-click{
    cursor: pointer;
    z-index: 5;
}

.icon-click:hover{
    zoom:150%;
}

@media only screen and (max-width: 800px){
    #footer{
        padding-bottom: 15px;
    }

    .footer-bottom-left{
        font-size:16px;
    }

    .footer-bottom-right{
        gap:25px;
    }

    .footer-bottom-right svg{
        width:25px;
        height:25px;
    }
}

@media only screen and (max-width: 650px){
    #footer{
        padding-bottom: 10px;
    }

    .footer-bottom-left{
        font-size:12px;
    }

    .footer-bottom-right{
        gap:20px;
    }

    .footer-bottom-right svg{
        width:20px;
        height:20px;
    }
}

@media only screen and (max-width: 480px){
    #footer{
        padding-bottom: 5px;
    }

    .footer-bottom-left{
        font-size:10px;
    }

    .footer-bottom-right{
        gap:15px;
    }

    .footer-bottom-right svg{
        width:15px;
        height:15px;
    }
}