body{
    margin:0;
    transition: color 1s ease;
    transition: background-color 1s ease;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
}

#light-tone-container{
    margin-left:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1px;
    background-color: white;
    border-radius: 15px;
    padding:3px;
    cursor:pointer;
}

#light{
    border-radius: 12px;
    padding:3px;
    display:flex;
    align-items: center;
    background-color: #E8E8E8;
    transition: background-color 0.5s ease;
}

#dark{
    border-radius: 12px;
    padding:3px;
    display:flex;
    align-items: center;
    color: #E8E8E8;
    transition: background-color 0.5s ease;
}

#tab-container{
    display:flex;
    justify-content: space-between;
    gap: 25px;
    margin-right: 150px;
}

.tab{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    cursor: pointer;
}

.underline{
    text-decoration: underline;
    text-underline-position: under;
}