body{
    margin:0;
    transition: color 1s ease;
    transition: background-color 1s ease;
    background-color: var(--bgColor,white);
    color: var(--color,black);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
}

#top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#light-tone-container{
    margin-left:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1px;
    background-color: white;
    border-radius: 15px;
    padding:3px;
    cursor:pointer;
}

#light{
    border-radius: 12px;
    padding:3px;
    display:flex;
    align-items: center;
    background-color: #E8E8E8;
    transition: background-color 0.5s ease;
}

#dark{
    border-radius: 12px;
    padding:3px;
    display:flex;
    align-items: center;
    color: #E8E8E8;
    transition: background-color 0.5s ease;
}

#menu-icon{
    cursor: pointer;
    visibility: var(--menu-icon-visibility,"hidden");
}

#tab-container{
    display:flex;
    justify-content: space-between;
    gap:20px;
    margin-right: 150px;
    overflow: hidden;
    height: var(--tab-container-height,auto);
    transition: height 1s ease;
    padding-bottom: 5px;
}

.tab{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.underline{
    text-decoration: underline;
    text-underline-position: under;
}

@media only screen and (max-width: 760px){
    #header{
        display: flex;
        flex-direction: column;
        padding-top:20px;
        gap:20px;
        height:auto;
    }
    #tab-container{
        display:flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }
    #light-tone-container{
        margin:0px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap:1px;
        background-color: white;
        border-radius: 15px;
        padding:3px;
        cursor:pointer;
    }
    #top-container{
        width:100%;
        justify-content:space-evenly;
        gap:50%;
    }
}