::-webkit-scrollbar{
    display:none;
}

body{
    overflow-x: hidden;
}

.main{
    height:95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1 1 0;
}

.intro-text{
    padding-left: 10vw;
    font-family: 'Allerta', sans-serif;
}

#intro-line-1{
    padding-top: 5vw;
    font-size: 50px;
}

#intro-line-2{
    padding-top: 10px;
    font-size: 80px;
}

#intro-line-3{
    padding-top: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 100pt;
}

@keyframes scrolling{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.scrolling-container{
    display:flex;
    padding: 80px 0;
    align-items: center;
    overflow-x: hidden;
    position:relative;
    width:100vw;
}

.scrolling-slide{
    animation: 40s scrolling infinite linear;
    white-space: nowrap;
}

.scrolling-container::before , .scrolling-container::after{
    position:absolute;
    top:0;
    width:250px;
    height:100%;
    content:"";
    z-index: 2;
    opacity: var(--opacity,1);
}

.scrolling-container::before{
    left:0;
    background: linear-gradient( to left, rgba(255,255,255,0),var(--color,white));
}

.scrolling-container::after{
    right:0;
    background: linear-gradient( to right, rgba(255,255,255,0),var(--color,white));
}

.scrolling-container:hover .scrolling-slide{
    animation-play-state: paused;
}

.scrolling-container img{
    margin:0 30px;
    overflow:visible;
}

.project-top-label{
    font-size: 50px;
    font-family: 'Allerta', sans-serif;
    padding-left:8%;
    padding-bottom: 4%;
    width:100%;
}

.project-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30vh;
    padding-top:10vh;
}

.project-inner-left{
    display: flex;
    justify-content: center;
    width:50vw;
    align-items: center;
}

.project-inner-left img{
    width:40vw;
    height:22.5vw;
    background-size: contain;
}

.project-inner-right{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    width:50vw;
}

.project-inner-right div{
    padding-left:10vw;
    padding-right:8vw;
    line-height: 1.5;
}

.project-inner-right-name{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.22rem;
}

.project-inner-right-description{
    font-size:1.1rem;
}

.project-inner-right-tags{
    display:flex;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap:wrap;
}

.projectEachTag{
    background-color: blue;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.project-inner-right-availableText{
    color:#686868;
    font-size: 1rem;
    font-weight:600;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;
    display:flex;
    width:auto;
}

.project-inner-right-availableText:hover{
    transform: translateX(0.5vw);
    color:#a3ccce;
}

@media only screen and (max-width: 1300px){
    .projects-container{
        padding-bottom: 20vh;
    }

    .project-inner-container{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .project-inner-left{
        width:100vw;
    }

    .project-inner-left img{
        width:80vw;
        height:45vw;
    }

    .project-inner-right{
        flex-direction: column;
        justify-content: center;
        gap:16px;
        width:100vw;
        padding-top:30px;
    }
}

/* multiplier 0.8 from previous bigger width */
@media only screen and (max-width: 768px){
    #intro-line-1{
        font-size: 40px;
    }
    
    #intro-line-2{
        font-size: 64px;
    }
    
    #intro-line-3{
        font-size: 20px;
    }

    .project-top-label{
        font-size: 40px;
    }

    .projects-container{
        padding-bottom: 20vh;
    }

    .project-inner-container{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .project-inner-left{
        width:100vw;
    }

    .project-inner-left img{
        width:80vw;
        height:45vw;
    }

    .project-inner-right{
        flex-direction: column;
        justify-content: center;
        gap:16px;
        width:100vw;
        padding-top:30px;
    }
    
    .project-inner-right-name{
        font-size: 1.6rem;
    }
    
    .project-inner-right-description{
        font-size:0.88rem;
    }
    
    .project-inner-right-tags{
        column-gap: 16px;
        row-gap: 8px;
    }
    
    .projectEachTag{
        padding: 4px 8px 4px 8px;
        border-radius: 4px;
        font-size: 12.8px;
    }

    .project-inner-right-availableText{
        font-size: 0.8rem;
    }
}

/* multiplier 0.87 from previous bigger width */
@media only screen and (max-width: 650px){
    .scrolling-container img{
        margin:0 20px;
        width:100px;
    }

    .project-top-label{
        font-size: 35px;
    }

    .projects-container{
        padding-bottom: 17.4vh;
    }

    .project-inner-container{
        padding-bottom: 17.4px;
    }

    .project-inner-right{
        gap:13.92px;
        padding-top:26.1px;
    }
    
    .project-inner-right-name{
        font-size: 1.4rem;
    }
    
    .project-inner-right-description{
        font-size:0.766rem;
    }
    
    .project-inner-right-tags{
        column-gap: 14px;
        row-gap: 7px;
    }
    
    .projectEachTag{
        padding: 3.5px 7px 3.5px 7px;
        border-radius: 3.5px;
        font-size: 11.136px;
    }

    .project-inner-right-availableText{
        font-size: 0.7rem;
    }
}

/* multiplier 0.71 from previous bigger width */
@media only screen and (max-width: 500px){
    #intro-line-1{
        font-size: 30px;
    }
    
    #intro-line-2{
        font-size: 50px;
    }
    
    #intro-line-3{
        padding-top: 15px;
        font-size: 15px;
    } 

    .scrolling-container img{
        margin:0 20px;
        width:100px;
    }

    .project-top-label{
        font-size: 25px;
    }
    
    .projects-container{
        padding-bottom: 12.354vh;
    }

    .project-inner-container{
        padding-bottom: 12.354px;
    }

    .project-inner-right{
        gap:9.9px;
        padding-top:18.53px;
    }
    
    .project-inner-right-name{
        font-size: 1rem;
    }
    
    .project-inner-right-description{
        font-size:0.55rem;
    }
    
    .project-inner-right-tags{
        column-gap: 12px;
        row-gap: 5px;
    }
    
    .projectEachTag{
        padding: 2.5px 5px 2.5px 5px;
        border-radius: 2.5px;
        font-size: 7.9px;
    }

    .project-inner-right-availableText{
        font-size: 0.5rem;
    }
}